ENV=development

URL=http://127.0.0.1
PORT=4000

MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USERNAME=article-service-username
MYSQL_PASSWORD=article-service-password
MYSQL_DATABASE=mysql_article_database

ELASTICSEARCH_URL=http://127.0.0.1:9200
ELASTICSEARCH_ARTICLE_INDEX=elasticsearch_article_index
